body {
    margin: 0 15px;
    padding: 0;
    font-family: sans-serif;
}

.header-build-text {
    position: fixed;
    width: 100%;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;  
}

.header-build-text h1 {
    font-size: 30px;
    color: white;
    transition: color 0.6s ease;
}

.header-build-text.invisible h2 {
    color: transparent;
  }

.header-background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.parallax {
    background-image: url(images/header-balconyView.png);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 3;
    transition: background-color 0.6s ease;
}

.image-container-images {
    width: 300px;
    height: 300px;
    transition: background-color 0.6s ease;
}

.square-image, .image-white {
    width: 260px;
    height: 260px;
    background-color: #9B7250;
    margin-bottom: 25px;
    padding: 20px;
}

.image-white {
    width: 260px;
    height: 100px;
    background-color: white;
}

.image-white h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

/* Testimonials  */

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    background-color: white;
    transition: background-color 0.6s ease;
}

.testimonials-container {
    width: 100%;
    max-width: 70%;
    text-align: center;
}

.testimonials-container p {
    font-size: 20px;
    line-height: 30px;
    transition: color 0.6s ease;
}

.testimonials-example-personName {
    margin-top: 40px;
    font-size: 18px;
    color: #9B7250;
}

.testimonials-reviews {
    justify-items: left;
}

.testimonials-reviews h3,
.testimonials-reviews a {
    margin: 0;
    padding: 0;
}

.testimonials-reviews h3 {
    font-size: 20px;
    color: #9B7250;
    margin-top: 60px;
}

.testimonials-reviews a {
    font-size: 16px;
    color: #9B7250;
    text-transform: uppercase;
    text-decoration: none;
}

/* Pre Footer  */

.preFooter {
    height: 70vh;
    background-color: rgb(238, 237, 234);
    padding: 20px 20px;
}

.wrapper-footer-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.preFooterCol {
    text-align: center;
    margin: 35px;
}

.preFooterCol a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.mainFontBold {
   font-size: 20px;
   color: rgb(31, 50, 80);
   font-weight: 600;
   margin-bottom: 15px;
}
.mainFontLight {
    font-size: 18px;
    color: rgb(31, 50, 80);
}

/* Footer  */

.footer {
    background-color: rgb(31, 50, 80);
    padding: 20px 20px;
    height: auto;
}

.wrapper-footer-paddingHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footerCol {
    text-align: center;
    margin: 35px;
}

.footerCol a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

